/* main.css */
.container {
    padding: 0;
}
.header {
    text-align: center;
}

.logo {
    color: #FF144C;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 64pt;

    text-shadow: #961433 -3px 4px;
    margin-left: 0.5ex;
}
.logo .c {
    margin-left: -0.5ex;
}
.logo .o {
    margin-left: 1ex;
}