<!DOCTYPE html>
<html>
<head>
    <title>Code Corvallis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
    <link rel='stylesheet' href='static/css/main.css' />
</head>
<body><div class="container"><div class="col-sm-offset-3 col-sm-6">

    <div class="header">
        <div class="logo">
            <span class="c">(</span>
            <span class="o">.</span>
        </div>
        <div class="logo">
            <span class="d">|&gt;</span>
            <span class="e">{-</span>
        </div>
        <h1>Code Corvallis</h1>
    </div>

    <div class="content">
        <p>This site was just created on the 30th of July, 2014. Coming soon. :-)</p>
        <p>We have a <a href="http://www.meetup.com/Code-Corvallis/">Meetup</a> group,
            and we're on <a href="https://github.com/codecorvallis">GitHub</a>.</p>
    </div>
</div></div></body>
</html>


